.tile {
  background-color: lightblue;
  width: fit-content;
  border-radius: 1em;
}

.tile:hover {
  background-color: blue;
}

.name {
  color: black;
  font-size: large;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  margin: 1em;
}