<h1>Pyramide</h1>
<table *ngIf="cards !== undefined" class="centered">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><app-card [card]="cards[9]"></app-card></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><app-card [card]="cards[8]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[7]"></app-card></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><app-card [card]="cards[6]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[5]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[4]"></app-card></td>
    <td></td>
  </tr>
  <tr>
    <td><app-card [card]="cards[3]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[2]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[1]"></app-card></td>
    <td></td>
    <td><app-card [card]="cards[0]"></app-card></td>
  </tr>
</table>