<div class="button-container">
  <button mat-raised-button *ngIf="!cardsDealt" (click)="dealCards()">Deal Cards</button>
  <button mat-raised-button *ngIf="cardsDealt" (click)="undealCards()">Flip Card</button>
</div>
